<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link  th:href="@{/css/web_manager/webcenter_login.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="left-section">
        <div class="logo">
            <img th:src="@{/images/login-image.jpg}" class="loginImage" alt="Company Logo" />
            <h2>STAY WITH ME</h2>
        </div>
        <h1>WELCOME BACK</h1>
        <p>Nice to see you again</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="right-section">
        <h2>Login Account</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <form action="/admin/dashboard" method="post">
            <input type="text" name="username" placeholder="Email ID" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="options">
                <label>
                    <input type="checkbox" name="keep-signed-in">
                    Keep me signed in
                </label>
                <a href="#">Already a member?</a>
            </div>
            <button type="submit">SUBSCRIBE</button>
        </form>
    </div>
</div>
</body>
</html>
