<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.swm.board.mapper.DetailMapper">
    <resultMap id="placeResultMap" type="kr.co.swm.board.detail.model.DTO.DetailDTO">
        <result column="ACCOMMODATION_ADMIN_NO" property="boardNo"></result>
        <result column="NAME" property="boardName"></result>
        <result column="ACCOMMODATION_TYPE" property="boardType"></result>
        <result column="ADDRESS" property="boardAddress"></result>
        <result column="INFO" property="boardInfo"></result>
        <result column="CHECK_IN_TIME" property="boardCheckIn"></result>
        <result column="CHECK_OUT_TIME" property="boardCheckOut"></result>
        <result column="ROOM_NAME" property="boardRoomType"></result>
        <result column="ROOM_TYPE_NO" property="boardRoomNo"></result>
        <result column="STANDARD_OCCUPANCY" property="boardMinPerson"></result>
        <result column="MAX_OCCUPANCY" property="boardMaxPerson"></result>
        <result column="LAT" property="lat"></result>
        <result column="LNG" property="lon"></result>
        <result column="BASIC_RATE" property="boardCount"></result>
        <result column="FACILITY_NAME" property="facilityName"></result>
    </resultMap>

<!-- 장소 -->
    <select id="getPlace" resultMap="placeResultMap">
        SELECT  a.name,
        a.ACCOMMODATION_TYPE,
        a.ADDRESS,
        a.INFO,
        a.LAT,
        a.LNG,
        r.CHECK_IN_TIME,
        r.CHECK_OUT_TIME,
        r.ROOM_NAME,
        r.STANDARD_OCCUPANCY,
        r.MAX_OCCUPANCY,
        MIN(br.BASIC_RATE) AS BASIC_RATE -- 기본 요금의 최소값을 선택
        FROM ACCOMMODATION a
        JOIN ROOM r ON r.ACCOMMODATION_ADMIN_NO = a.ACCOMMODATION_ADMIN_NO
        JOIN basic_rate br ON r.ROOM_NO = br.ROOM_NO
        WHERE a.ACCOMMODATION_ADMIN_NO = #{boardNo}
        GROUP BY a.name, a.ACCOMMODATION_TYPE, a.ADDRESS,a.INFO, a.LAT, a.LNG, r.CHECK_IN_TIME, r.CHECK_OUT_TIME, r.ROOM_NAME, r.STANDARD_OCCUPANCY, r.MAX_OCCUPANCY
    </select>


    <select id="getPost" resultMap="placeResultMap">
        SELECT * FROM ACCOMMODATION a
        JOIN ROOM r ON r.ACCOMMODATION_ADMIN_NO = a.ACCOMMODATION_ADMIN_NO
        join basic_rate br on br.ROOM_NO = r.ROOM_NO
        WHERE a.ACCOMMODATION_ADMIN_NO = #{boardNo}
        LIMIT 1
    </select>

    <select id="getRate" resultType="double">
        SELECT COALESCE(ROUND(AVG(r2.rating), 1), 0) AS avgRate
        FROM room r
        JOIN review r2 ON r.ROOM_NO = r2.ROOM_NO
        where r.ROOM_NO = #{RoomNo}
    </select>

    <select id="getSubPlace" resultMap="placeResultMap">
        SELECT
        a.ACCOMMODATION_ADMIN_NO,
        a.NAME,
        a.ACCOMMODATION_TYPE,
        a.ADDRESS,
        r.CHECK_IN_TIME,
        MIN(br.BASIC_RATE) AS BASIC_RATE
        FROM
        accommodation a
        join room r on r.ACCOMMODATION_ADMIN_NO = a.ACCOMMODATION_ADMIN_NO
        join basic_rate br  on br.ROOM_NO = r.ROOM_NO
        where a.ACCOMMODATION_ADMIN_NO != #{boardNo}
        GROUP BY
        a.ACCOMMODATION_ADMIN_NO, a.NAME, a.ACCOMMODATION_TYPE, a.ADDRESS, r.CHECK_IN_TIME
        ORDER BY
        RAND()
        LIMIT 3;
    </select>

    <select id="getFacilities" resultMap="placeResultMap">
        select ACCOMMODATION_ADMIN_NO , FACILITY_NAME  from facilities f
        where ACCOMMODATION_ADMIN_NO = #{boardNo}
    </select>

<!--    <select id="getImagePath" resultMap="placeResultMap">-->

<!--    </select>-->

</mapper>
