<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.swm.board.mapper.DetailMapper">

<!-- 장소 -->
    <select id="getPlace" resultType="kr.co.swm.board.detail.model.dto.DetailDto">
        select a.name, a.ACCOMMODATION_TYPE, a.PROVINCE_CODE, r.ROOM_NAME, r.CHECK_IN_TIME from ACCOMMODATION a
        JOIN ROOM r ON r.ACCOMMODATION_NO = a.ACCOMMODATION_NO;
    </select>

    <select id="getRate" resultType="kr.co.swm.board.detail.model.dto.DetailDto">
        select r2.RATING  from room r join review r2 on r.ROOM_NO = r2.ROOM_NO;
    </select>

</mapper>
