<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.swm.board.mapper.ListMapper">
    <resultMap id="placeResultMap" type="kr.co.swm.board.list.model.dto.ListDto">
        <result column="ACCOMMODATION_NO" property="boardNo"></result>
        <result column="NAME" property="boardName"></result>
        <result column="ACCOMMODATION_TYPE" property="boardType"></result>
        <result column="POST_NO" property="boardAddress"></result>
        <result column="CHECK_IN_TIME" property="boardCheckIn"></result>
    </resultMap>


<!-- 장소 -->
    <select id="getPlace" resultMap="placeResultMap">
        select a.name, a.ACCOMMODATION_NO, a.ACCOMMODATION_TYPE, a.POST_NO, r.CHECK_IN_TIME from ACCOMMODATION a
        JOIN ROOM r ON r.ACCOMMODATION_NO = a.ACCOMMODATION_NO
        ORDER BY a.ACCOMMODATION_NO
        LIMIT #{pi.boardLimit} OFFSET #{pi.offset}

    </select>

<!-- 별점 평균 -->
    <select id="getAvgRate" resultType="double">
        SELECT COALESCE(ROUND(AVG(r2.rating), 1), 0) AS avgRate
        FROM room r
        JOIN review r2 ON r.ROOM_NO = r2.ROOM_NO
        where r.ACCOMMODATION_NO = #{boardNo}
    </select>

<!-- 게시글의 총 개수 -->
    <select id="getTotalCount" resultType="int">
        select count(*) from ACCOMMODATION a JOIN ROOM r ON r.ACCOMMODATION_NO = a.ACCOMMODATION_NO
    </select>

</mapper>
