<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.swm.mappers.SellerMapper">

    <resultMap id="seller" type="kr.co.swm.model.dto.SellerDto">
        <!-- 관리자 정보 -->
        <result column="ACCOMMODATION_NO" property="sellerKey"/>
        <result column="ADMIN_ID" property="sellerId"/>
        <result column="ADMIN_TYPE" property="sellerType"/>

        <!-- 숙소 정보 -->
        <result column="ACCOMMODATION_NO" property="accommodationNo"/>
        <result column="NAME" property="accommodationName"/>
        <result column="ACCOMMODATION_TYPE" property="accommodationType"/>
        <result column="PHONE" property="accommodationPhone"/>
        <result column="POST_NO" property="accommodationPost"/>
        <result column="ADDRESS" property="accommodationAddress"/>

        <!-- 객실 정보 -->
        <result column="ROOM_NO" property="roomNo"/>
        <result column="ROOM_TYPE_NO" property="roomTypeNo"/>
        <result column="ROOM_NAME" property="roomName"/>
        <result column="CHECK_IN_TIME" property="roomCheckIn"/>
        <result column="CHECK_OUT_TIME" property="roomCheckOut"/>
        <result column="STANDARD_OCCUPANCY" property="roomPersonnel"/>
        <result column="MAX_OCCUPANCY" property="roomMaxPersonnel"/>
        <result column="ROOM_VALUES" property="roomvalues"/>

        <!-- 요금 정보 -->
        <result column="BASIC_RATE_NO" property="roomRateNo"/>
        <result column="DAY_NO" property="basicDayNo"/>
        <result column="BASIC_RATE" property="basicRate"/>

        <!-- 추가 요금 정보 -->
        <collection property="extraRates" ofType="kr.co.swm.model.dto.SellerDto$ExtraDto">
            <result column="EXTRA_ROOM_NO" property="extraRoomNo"/>
            <result column="EXTRA_NO" property="extraNo"/>
            <result column="EXTRA_DAY_NO" property="extraDayNo"/>
            <result column="EXTRA_NAME" property="extraName"/>
            <result column="EXTRA_DATE_START" property="extraDateStart"/>
            <result column="EXTRA_DATE_END" property="extraDateEnd"/>
            <result column="EXTRA_RATE" property="extraRate"/>
            <result column="EXTRA_WEEKDAY_RATE" property="extraWeekdayRate"/>
            <result column="EXTRA_FRIDAY_RATE" property="extraFridayRate"/>
            <result column="EXTRA_SATURDAY_RATE" property="extraSaturdayRate"/>
            <result column="EXTRA_SUNDAY_RATE" property="extraSundayRate"/>
        </collection>
    </resultMap>

    <!-- 추가 요금 전용 ResultMap -->
    <resultMap id="extraDtoResultMap" type="kr.co.swm.model.dto.SellerDto$ExtraDto">
        <result column="EXTRA_ROOM_NO" property="extraRoomNo"/>
        <result column="EXTRA_NO" property="extraNo"/>
        <result column="EXTRA_DAY_NO" property="extraDayNo"/>
        <result column="EXTRA_NAME" property="extraName"/>
        <result column="EXTRA_DATE_START" property="extraDateStart"/>
        <result column="EXTRA_DATE_END" property="extraDateEnd"/>
        <result column="EXTRA_RATE" property="extraRate"/>
        <result column="EXTRA_WEEKDAY_RATE" property="extraWeekdayRate"/>
        <result column="EXTRA_FRIDAY_RATE" property="extraFridayRate"/>
        <result column="EXTRA_SATURDAY_RATE" property="extraSaturdayRate"/>
        <result column="EXTRA_SUNDAY_RATE" property="extraSundayRate"/>
    </resultMap>

<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->

    <!-- 객실 이름 리스트 조회 -->
    <select id="roomNameSearch" resultType="String">
        SELECT DISTINCT ROOM_NAME
        FROM ROOM
        WHERE ACCOMMODATION_NO = #{accommodationNo}
    </select>

<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->

    <!-- 객실 기본 요금 조회 -->
    <select id="basicRateList" resultMap="seller">
        SELECT br.ROOM_NO,
        br.BASIC_RATE_NO,
        br.DAY_NO,
        br.BASIC_RATE,
        r.ROOM_NAME
        FROM ROOM r
        JOIN BASIC_RATE br ON br.ROOM_NO = r.ROOM_NO
        WHERE r.ROOM_NAME = #{roomName}
        AND r.ACCOMMODATION_NO = #{accommodationNo}
    </select>

    <!-- 객실 추가 요금 조회 -->
    <select id="extraRateList" resultMap="seller">
        SELECT ext.ROOM_NO AS EXTRA_ROOM_NO,
        ext.EXTRA_NO,
        ext.DAY_NO AS EXTRA_DAY_NO,
        ext.EXTRA_NAME,
        ext.EXTRA_DATE_START,
        ext.EXTRA_DATE_END,
        ext.EXTRA_RATE,
        r.ROOM_NAME
        FROM ROOM r
        JOIN EXTRA_RATE ext ON ext.ROOM_NO = r.ROOM_NO
        WHERE r.ROOM_NAME = #{roomName}
        AND r.ACCOMMODATION_NO = #{accommodationNo}
    </select>

<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->

    <!-- [Update] 객실 정보 조회(BASIC_RATE) -->
    <select id="bRoomInfoSearch" resultMap="seller">
        SELECT r.ROOM_NO,
        br.BASIC_RATE_NO,
        br.DAY_NO,
        br.BASIC_RATE
        FROM ROOM r
        JOIN BASIC_RATE br on r.ROOM_NO = br.ROOM_NO
        WHERE r.ACCOMMODATION_NO = #{accommodationNo}
        AND r.ROOM_NAME = #{roomName}
    </select>

    <!-- [Update] 객실 정보 조회(EXTRA_RATE) -->
    <select id="eRoomInfoSearch" resultMap="extraDtoResultMap">
        SELECT ext.EXTRA_NO,
        r.ROOM_NO AS EXTRA_ROOM_NO,
        ext.DAY_NO,
        ext.EXTRA_NAME,
        ext.EXTRA_DATE_START,
        ext.EXTRA_DATE_END,
        ext.EXTRA_RATE
        FROM ROOM r
        LEFT JOIN EXTRA_RATE ext on r.ROOM_NO = ext.ROOM_NO
        WHERE r.ACCOMMODATION_NO = #{accommodationNo}
        AND r.ROOM_NAME = #{roomName}
    </select>

<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->

    <!-- 기본 요금 업데이트 -->
    <update id="basicRateUpdate">
        UPDATE BASIC_RATE
        SET BASIC_RATE = #{basicRate}
        WHERE ROOM_NO = #{roomNo}
        AND DAY_NO = #{basicDayNo}
    </update>

    <!-- 추가 요금 업데이트 -->
    <update id="extraRateUpdate">
        UPDATE EXTRA_RATE
        SET EXTRA_RATE = #{extraRate}
        WHERE ROOM_NO = #{extraRoomNo}
        AND EXTRA_NAME = #{extraName}
        AND DAY_NO = #{extraDayNo}
    </update>

    <!-- 추가 요금 삽입 -->
    <insert id="extraRateInsert">
        INSERT INTO EXTRA_RATE (ROOM_NO, DAY_NO, EXTRA_NAME, EXTRA_DATE_START, EXTRA_DATE_END, EXTRA_RATE)
        VALUES (
        #{extraRoomNo},
        #{extraDayNo},
        #{extraName},
        #{extraDateStart},
        #{extraDateEnd},
        #{extraRate}
        )
    </insert>

<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
<!-- □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->

    <select id="extraSeasonList" resultMap="extraDtoResultMap">
        SELECT DISTINCT ext.EXTRA_NAME,
               ext.EXTRA_DATE_START,
               ext.EXTRA_DATE_END,
        FROM ROOM r
        LEFT JOIN EXTRA_RATE ext on r.ROOM_NO = ext.ROOM_NO
        WHERE r.ACCOMMODATION_NO = #{accommodationNo}
    </select>


</mapper>


