<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.swm.mappers.SellerMapper">

    <resultMap id="seller" type="kr.co.swm.model.dto.SellerDto">
        <!-- 관리자 정보 -->
        <result column="ACCOMMODATION_NO" property="sellerKey"/>
        <result column="ADMIN_ID" property="sellerId"/>
        <result column="ADMIN_TYPE" property="sellerType"/>

        <!-- 숙소 정보 -->
        <result column="ACCOMMODATION_NO" property="accommodationNo"/>
        <result column="NAME" property="accommodationName"/>
        <result column="ACCOMMODATION_TYPE" property="accommodationType"/>
        <result column="PHONE" property="accommodationPhone"/>
        <result column="POST_NO" property="accommodationPost"/>
        <result column="ADDRESS" property="accommodationAddress"/>

        <!-- 객실 정보 -->
        <result column="ROOM_NO" property="roomNo"/>
        <result column="ROOM_TYPE_NO" property="roomTypeNo"/>
        <result column="ROOM_NAME" property="roomName"/>
        <result column="CHECK_IN_TIME" property="roomCheckIn"/>
        <result column="CHECK_OUT_TIME" property="roomCheckOut"/>
        <result column="STANDARD_OCCUPANCY" property="roomPersonnel"/>
        <result column="MAX_OCCUPANCY" property="roomMaxPersonnel"/>
        <result column="ROOM_VALUES" property="roomvalues"/>

        <!-- 요금 정보 -->
        <result column="BASIC_RATE_NO" property="roomRateNo"/>
        <result column="DAY_NO" property="basicDayNo"/>
        <result column="BASIC_RATE" property="roomRate"/>


        <!-- 추가 요금 정보 -->
        <result column="EXTRA_NO" property="extraNo"/>
        <result column="EXTRA_DAY_NO" property="extraDayNo"/>
        <result column="EXTRA_NAME" property="extraName"/>
        <result column="EXTRA_DATE_START" property="extraDateStart"/>
        <result column="EXTRA_DATE_END" property="extraDateEnd"/>
        <result column="EXTRA_RATE" property="extraRate"/>

    </resultMap>

    <!-- 객실 이름 리스트 조회 -->
    <select id="roomNameSearch" resultType="String">
        SELECT DISTINCT ROOM_NAME
        FROM ROOM
        WHERE ACCOMMODATION_NO = #{accommodationNo}
    </select>

    <select id="basicRateList" resultMap="seller">
        SELECT br.ROOM_NO,
               br.BASIC_RATE_NO,
               br.DAY_NO,
               br.BASIC_RATE,
               r.ROOM_NAME
        FROM BASIC_RATE br
        JOIN ROOM r ON br.ROOM_NO = r.ROOM_NO
        WHERE r.ROOM_NAME = #{roomName}
    </select>

    <select id="extraRateList" resultMap="seller">
        SELECT ext.ROOM_NO,
               ext.EXTRA_NO,
               ext.DAY_NO AS EXTRA_DAY_NO,
               ext.EXTRA_NAME,
               ext.EXTRA_DATE_START,
               ext.EXTRA_DATE_END,
               ext.EXTRA_RATE,
               r.ROOM_NAME
        FROM EXTRA_RATE ext
        JOIN ROOM r ON ext.ROOM_NO = r.ROOM_NO
        WHERE r.ROOM_NAME = #{roomName}
    </select>

</mapper>

