<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer class="ftco-footer ftco-bg-dark ftco-section" style="height:500px;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Stay with me</h2>
                        <p style="font-weight: bold;">팀장 : 이진우</p>
                        <p style="font-weight: bold;">팀원 : 김이석</p>
                        <p style="font-weight: bold;">팀원 : 하혜미</p>
                        <p style="font-weight: bold;">팀원 : 유상현</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Blog</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li><a href="https://velog.io/@dlwlsdn8022/posts"><p style="font-weight: bold;">이진우 : dlwlsdn8022</p></a></li>
                            <li><a href="https://kim-jayden.tistory.com/"><p style="font-weight: bold;">김이석 : Jayden_Kim</p></a></li>
                            <li><a href="https://hmproject-1.tistory.com/"><p style="font-weight: bold;">하혜미 : bomhyeming</p></a></li>
                            <li><a href="https://ysh0129.tistory.com/"><p style="font-weight: bold;">유상현 : ysh0129</p></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Portfolio Link</h2>
                        <div class="footer-icon-container" style="display: flex; justify-content: space-between;">
                            <div style="width: 50px; height: 50px;">
                                <a href="https://www.notion.so/0bca2fb8da654591937e8a06d879f164"><img src="images/notion.png" style="width: 50px; height: 50px;"></a>
                            </div>
                            <div style="width: 50px; height: 50px;">
                                <a href="finalproject-9gi4103.slack.com"><img src="images/slack.png" style="width: 50px; height: 50px;"></a>
                            </div>
                            <div style="width: 50px; height: 50px;">
                                <a href="https://github.com/JaydenKim0528/StayWithMe"><img src="images/github.png" style="width: 50px; height: 50px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">그린컴퓨터아트학원 안양</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">경기도 안양시 만안구 안양로 303 KR 메타포스빌</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>
