<!-- src/main/resources/templates/fragments/navbar.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Stay With Me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <!-- Removed Date Form -->

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a th:href="@{/tour}" class="nav-link">Tour</a></li>
                    <li class="nav-item"><a th:href="@{/couponList}" class="nav-link">coupon</a></li>

                    <!--로그인 되어 있을때 로그아웃, 마이페이지-->
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a href="/mypage" class="nav-link"><span>Mypage</span></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a href="/logout" class="nav-link"><span>Logout</span></a>
                    </li>
                    <!--로그인 안 되어 있을때-->
                    <li sec:authorize="!isAuthenticated()" class="nav-item cta">
                        <a href="/signform" class="nav-link"><span>Sign</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

</html>
