<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Stay with me</title>
	<div th:include="fragments/css.html :: css"></div>
</head>
<body>

<nav th:include="fragments/navbar.html :: navbar"></nav>
    <!-- END nav -->

	<div class="under-nev" style="height: 100px">
		<div class="hero-wrap js-fullheight">
		</div>
	</div>

<!-- content 영역 전체 -->
	<section class="ftco-section ftco-degree-bg">
		<div class="container" style="display: flex; justify-content: center;">



				<!-- 객실 이미지 캐러셀(슬라이드) -->
				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-12 ftco-animate">
							<div class="single-slider owl-carousel">
								<div class="item">
									<div class="hotel-img" style="background-image: url(images/hotel-2.jpg);"></div>
								</div>
								<div class="item">
									<div class="hotel-img" style="background-image: url(images/hotel-3.jpg);"></div>
								</div>
								<div class="item">
									<div class="hotel-img" style="background-image: url(images/hotel-4.jpg);"></div>
								</div>
							</div>
						</div>


						<!-- 객실 정보 -->

						<div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
							<span th:text="${post.boardType}">숙박유형</span>
							<h2 th:text="${post.boardName}">숙박명</h2>
							<p class="rate mb-5">
								<i class="icon-map-o"></i>&nbsp;<span th:text="${post.boardAddress}" /></span>
							</p>

							<div class="d-md-flex mt-5 mb-5">
								<!-- 호텔 정보 -->
								<div class="facilities-container" style="width: 500px;">
								<h5>객실내 부대시설</h5>
									<div class="facilities" th:each="facilities : ${facilities}">
									<p th:text="${facilities.facilityName} + '&nbsp;' + '&nbsp;' " style="float: left;"></p>
									</div>
								</div>
								<!-- 지도 영역 -->
								<div class="map-container" style="margin-left: 70px;">
									<h5>위치</h5>
									<div id="map" style= "width: 300px; height: 300px; border: 2px solid #aaa;"></div>

									<!-- 카카오 지도 스크립트 -->
									<script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=7e9abb233f506c3551de8af0c2fd6e5d}"></script>
									<script th:inline="javascript">

                                       var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                           mapOption = {
                                               center: new kakao.maps.LatLng([[${post.lat}]], [[${post.lon}]]), // 지도의 중심좌표
                                               level: 2 // 지도의 확대 레벨
                                           };

                                       var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                       // 마커가 표시될 위치
                                       var markerPosition  = new kakao.maps.LatLng([[${post.lat}]], [[${post.lon}]]);

                                       // 마커를 생성합니다
                                       var marker = new kakao.maps.Marker({
                                       position: markerPosition
                                       });

                                       // 마커가 지도 위에 표시되도록 설정합니다
                                       marker.setMap(map);

                                       // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                                       var mapTypeControl = new kakao.maps.MapTypeControl();

                                       // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                                       // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                                       map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                                       // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                                       var zoomControl = new kakao.maps.ZoomControl();
                                       map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
									</script>
								</div>

							</div>

								<!-- 예약공지 -->
							<div class="infomation">
							<h5>INFO</h5>
							<p th:text="${post.boardInfo}"></p>
							</div>
						</div>

						<!-- 객실 선택 -->
						<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
							<h4 class="mb-4">객실선택</h4>
							<div class="row">
								<div class="col-md-4">
									<div class="destination" th:each="place : ${place}">
										<a href="#" class="img img-3"
										   style="background-image: url(images/room-4.jpg);"></a>
										<div class="text-tour p-3">
											<div class="d-flex">
												<div class="one">
													<h3><a href="#" th:text="${place.boardRoomType}">방 유형</a></h3>
												</div>
											</div>
											<p class="days">
												<span>체크인 : <span th:text="${post.boardCheckIn}"/> &nbsp; <span>체크아웃 : <span th:text="${post.boardCheckOut}"/></span></span>
											<br>
													기준<span th:text="${place.boardMinPerson}"/>인 · 최대<span th:text="${place.boardMaxPerson}" />인
											</p>
											<hr>
											<span class="price" style="font-weight: bold; font-size: 17px;"  th:text="${place.boardCount} + '원 &nbsp; ~' "></span>
											<br>
											<p class="bottom-area d-flex">
												<span class="ml-auto"><a href="#">예약</a></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>


						<!-- 연관 숙박시설 -->


					<div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
						<h4 class="mb-4">관련 항목</h4>
						<div class="row">
							<div class="col-md-4">


								<div class="destination" th:each="subPlace : ${subPlace}" >
									<a href="#" class="img img-3"
									   style="background-image: url(images/room-4.jpg);"></a>
									<div class="text-tour p-3">
										<div class="d-flex">
											<div class="one">
												<h3><a href="#" th:text="${subPlace.boardName}"></a></h3>
											</div>
										<div class="two">
											<p th:text="${subPlace.boardType}"></p>
										</div>
										</div>
										<span><i class="icon-map-o"></i> &nbsp <span th:text="${subPlace.boardAddress}" /></span></span>
										<p class="days">
											<span>체크인 : <span th:text="${subPlace.boardCheckIn}"/></span>
										</p>
										<hr>
										<span class="price" style="font-weight: bold; font-size: 17px;"  th:text="${subPlace.boardCount} + '원 &nbsp; ~' "></span>
										<br>
										<p class="bottom-area d-flex">
											<span class="ml-auto"><a th:href="@{/hotel-single(boardNo=${subPlace.boardNo})}">바로가기</a></span>
										</p>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .col-md-8 -->
				</div>
			</div>
	</section>
	<!-- .section -->

<script th:src="@{js/range.js}"></script>
<div th:include="fragments/footer.html :: footer"></div>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

	<div th:include="fragments/js.html :: js"></div>
  </body>
</html>

