<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stay with me</title>
    <div th:include="fragments/css.html :: css"></div>
    <link rel="stylesheet" th:href="@{css/tour.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

<nav th:include="fragments/navbar.html :: navbar"></nav>
<!-- END nav -->

<!-- header nav 여백 영역 -->
<div class="under-nev" style="height: 100px">
    <div class="hero-wrap js-fullheight"></div>
</div>

<!-- 사이드 바(필터) 영역-->

<section>
    <div class="container">
        <div class="row">
            <!-- 사이드바(필터) -->
            <div class="col-lg-3 sidebar ftco-animate">
                <div class="sidebar-wrap bg-light ftco-animate">
                    <h3 class="heading mb-4">필터</h3>
                    <!-- 필터 폼 -->
                    <form id="searchForm" th:object="${mainSearchDTO}" autocomplete="off">
                        <div class="fields">
                            <!-- 체크인 및 체크아웃 날짜 필터 -->
                            <h5>체크인/체크아웃 날짜</h5>
                            <div class="check-date-group">
                                <div class="checkin-group">
                                    <label for="checkInDate">체크인</label>
                                    <input type="text" id="checkInDate" th:field="*{checkInDate}" name="checkInDate"
                                           placeholder="체크인 날짜" class="checkin-date-input">
                                </div>
                                <div class="checkout-group">
                                    <label for="checkOutDate">체크아웃</label>
                                    <input type="text" id="checkOutDate" th:field="*{checkOutDate}" name="checkOutDate"
                                           placeholder="체크아웃 날짜" class="checkout-date-input">
                                </div>
                            </div>

                            <!-- 숙박 인원 선택 -->
                            <h5>숙박 인원</h5>
                            <div class="guest-input-container">
                                <button type="button" id="decrease-guests" class="guest-btn">-</button>
                                <input type="text" class="personnel-input" id="guest-count" th:field="*{personnel}"
                                       name="personnel" value="1" readonly>
                                <button type="button" id="increase-guests" class="guest-btn">+</button>
                            </div>

                            <!-- 숙소 유형 필터 -->
                            <h5>숙소유형</h5>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div>
                                        <input type="radio" name="type" value="" id="all"
                                               th:checked="${mainSearchDTO.type == null or mainSearchDTO.type.isEmpty() or mainSearchDTO.type == '전체'}">
                                        <label for="all">전체</label><br>
                                    </div>
                                    <div>
                                        <input type="radio" name="type" value="호텔" id="hotel"
                                               th:checked="${mainSearchDTO.type == '호텔'}">
                                        <label for="hotel">호텔</label><br>
                                    </div>
                                    <div>
                                        <input type="radio" name="type" value="리조트" id="resort"
                                               th:checked="${mainSearchDTO.type == '리조트'}">
                                        <label for="resort">리조트</label><br>
                                    </div>
                                    <div>
                                        <input type="radio" name="type" value="펜션" id="pension"
                                               th:checked="${mainSearchDTO.type == '펜션'}">
                                        <label for="pension">펜션</label><br>
                                    </div>
                                    <div>
                                        <input type="radio" name="type" value="모텔" id="motel"
                                               th:checked="${mainSearchDTO.type == '모텔'}">
                                        <label for="motel">모텔</label><br>
                                    </div>
                                </div>
                            </div>

                            <!-- 가격 슬라이더 -->
                            <div class="form-group">
                                <h5>가격(￦)</h5>
                                <div class="range-slider">
                                    <div class="slider-inputs">
                                        <input type="range" th:field="*{minRate}" value="0" min="0" max="1000000"
                                               step="1000"/>
                                        <input type="range" th:field="*{maxRate}" value="1000000" min="0" max="1000000"
                                               step="1000"/>
                                    </div>
                                    <div class="price-inputs">
                                        <div class="min-price">
                                            <input type="number" th:field="*{minRate}" value="0" min="0" max="1000000"/>
                                        </div>
                                        <div class="max-price">
                                            <input type="number" th:field="*{maxRate}" value="1000000" min="0"
                                                   max="1000000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 옵션 선택 -->
                            <h5 id="toggle-options-title">옵션</h5>
                            <div class="form-group option_box">
                                <div id="toggle-options-content" class="toggle-options-content">
                                    <div th:each="facility : ${uniqueFacilities}">
                                        <div class="toggle">
                                            <input type="checkbox" name="options" th:field="*{options}"
                                                   th:value="${facility}" th:id="${facility}" class="toggle-input">
                                            <label th:for="${facility}" th:text="${facility}"
                                                   class="toggle-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 검색 버튼 -->
                            <div class="form-group option_box">
                                <button type="button" id="searchButton" class="btn btn-primary py-3 px-5">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 숙소 리스트 출력 -->
            <div class="col-lg-9">
                <div id="content" class="row">
                    <!-- 숙소 리스트가 여기에 동적으로 추가됩니다 -->
                </div>
            </div>

            <!-- 로더 아이콘 -->
            <div id="loader" style="text-align:center; display:none;">
                <img th:src="@{/css/ajax-loader.gif}" alt="Loading...">
            </div>
        </div>
    </div>
</section>



<div th:include="fragments/footer.html :: footer"></div>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<div th:include="fragments/js.html :: js"></div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
<script th:src="@{/js/tourdate.js}"></script>
<script th:src="@{/js/tour.js}"></script>
</body>
</html>
<script>
    function getDetail(event, boardNo) {

        const checkInDate = document.getElementById('checkInDate').value;
        const checkOutDate = document.getElementById('checkOutDate').value;

        var link = document.getElementById('getDetail');
        link.href = '/hotel-single?boardNo=' + encodeURIComponent(boardNo) + '&checkInDate=' + encodeURIComponent(checkInDate)+ '&checkOutDate=' + encodeURIComponent(checkOutDate);

        window.location.href = link.href;
    }
</script>