.card-body {
    display: flex;
    overflow-x: auto;
}

.room_type {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table th, .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table input {
    width: 100%;
    box-sizing: border-box;
}

.submit_button {
    margin: 10px;
    width: 125px;
    background-color: lightgreen;
    border: 1px solid green;
    font-weight: bold;
}

.room_2deps {
    margin: 5px 0;
    width: 125px;
}

/* Input 값의 텍스트를 중앙 정렬 */
.text-center {
    text-align: center;
    vertical-align: middle; /* 수직 정렬 */
}

/* 테이블 전체를 중앙에 정렬 */
.table input {
    display: block;
    margin: 0 auto;
}